*{
    max-height: 90%;
    font-size: large;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.image {

    max-width: 1000px;
    max-height: 1000px;
    height: 1000px;
    background-image: none;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 1em;
}

.input-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    flex-direction: column;
    padding: 10px;
    
}